# Python
backend/.venv/
backend/**/__pycache__/
backend/db.sqlite3
*.pyc

# Node
frontend/node_modules/
frontend/.next/
frontend/.env*.local

# OS
.DS_Store

# Staticfiles
backend/staticfiles/

# Docs
docs/
